.system-item {
  background: #333;
  padding: 30px 20px;
  color: #fff;
  padding: 15px;
  margin: 10px;
  border: 2px solid #333;
}
.system-item h3 {
  text-transform: capitalize;
  color: #ffe000;
}
.system-item i {
  font-size: 30px;
  background: #ffe000;
  padding: 25px;
  margin: 10px 0px;
  color: black;
  transition: 0.3s;
}
.system-item i:hover {
  transform: scale(1.1);
}
.system-row {
  margin-top: -130px;
}
