.user-orders {
  font-family: "Fira Code", monospace;
}
.order-img {
  width: 100px;
}
button.delete-btn {
  background: red;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
}
@media screen and (min-device-width: 250px) and (max-device-width: 768px) {
  .order-img {
    width: 50px;
  }
  .table > :not(caption) > * > * {
    padding: 5px 0px;
  }
}
