.working-system img {
  width: 75%;
  border-radius: 50%;
}
.working-system {
  text-align: center;
}

.working-system h4 {
  color: #ffe000;
  margin: 20px 0px;
  text-transform: capitalize;
  font-weight: 600;
}
.working-process-container {
  background: linear-gradient(rgb(102 16 242 / 48%), rgb(233 233 233)),
    url(https://i.ibb.co/xgRtd3k/pexels-polina-tankilevitch-3873193.jpg);
  background-attachment: fixed;
  padding: 60px 0px;
  margin: 30px 0px;
  height: 500px;
}
.w-process-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/rect%3e%3cpath d='M1104.7976536230376 479.57579924632967L1199.5944357730561 435.3713337613249 1155.3899702880515 340.5745516113062 1060.5931881380327 384.77901709631107z' fill='rgba(91%2c 28%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M544.0868204637202 268.200721393876L475.7874407719157 362.20675278107166 638.0928518509158 336.5001010856804z' fill='rgba(91%2c 28%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M39.74885974639217 432.6779978570526L154.01458344580575 291.8462208924507-2.1111854278392173 264.3170354561732z' fill='rgba(91%2c 28%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M690.2654545367793 501.5648030470769L798.5635381762479 404.0527705483936 701.0515056775646 295.754686908925 592.753422038096 393.2667194076083z' fill='rgba(91%2c 28%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M337.0692991380598 122.8001895498808L319.9059023870828 211.09821123281142 425.3673208209904 139.96358630085783z' fill='rgba(91%2c 28%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M915.3972504969038 455.65214684696116L859.7208172388551 552.086558034119 1032.2106506486161 587.384002327613z' fill='rgba(91%2c 28%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  margin-top: -90px;
  padding: 45px;
  color: #fff;
  border-radius: 10px;
}
.w-process-h-span {
  color: #ffe000;
}
