.anout-us h4 {
  font-size: 14px;
  margin: 15px 0px;
  font-weight: 400;
}

.footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1019%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 16%2c 242%2c 1)'%3e%3c/rect%3e%3cpath d='M354.0656544404495 394.71667277792443L467.76114004267663 512.6765614944957 509.6333488534507 375.7187376640607z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M775.6912207735517 545.1225125937037L756.8642470163635 426.2536785175099 637.9954129401697 445.0806522746981 656.8223866973578 563.9494863508919z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M249.50732395338264 299.30445233890197L335.6073702388408 176.34084285592098 212.64376075585983 90.2407965704628 126.54371447040165 213.2044060534438z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1289.1676506755164 53.062402097404494L1334.542513917175 146.09465851291247 1427.5747703326829 100.71979527125384 1382.1999070910244 7.6875388557458635z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1069.3958100945993 488.18219656240984L1156.0155984281855 491.207026224231 1159.0404280900066 404.5872378906448 1072.4206397564203 401.56240822882364z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1197.3064553179788-20.61314782030685L1072.91658003483-75.99508845831598 1017.5346393968208 48.39478682483288 1141.9245146799697 103.776727462842z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1019'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  padding: 30px 0px;
}

.anout-us ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.anout-us ul li i {
  background: #ffe000;
  color: #212529;
  padding: 8px;
  font-weight: 600;
}

.departments ul li a {
  color: #ffe000;
  text-decoration: none;
}

.departments ul {
  margin: 35px 0px;
}
.links ul {
  margin: 35px 0px;
}

.links ul li {
  list-style: none;
  margin: 10px -30px;
}

.links {
}

.links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.links ul li a:hover {
  color: #ffe000;
}
.opening-Hours ul li {
  list-style: none;
  margin: 20px -30px;
  border-bottom: 1px solid #ffe000;
}
.opening-Hours ul li:last-child {
  border: none;
}
.opening-Hours ul li span {
  color: #ffe000;
}
