.anout-us h4 {
  font-size: 14px;
  margin: 15px 0px;
  font-weight: 400;
}

.footer {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1036%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(102%2c 16%2c 242%2c 1)'%3e%3c/rect%3e%3cpath d='M90.48031240407593 157.93708547076704L-15.5878240834936 154.2331045260654-19.291805028195228 260.3012410136349 86.7763314593743 264.00522195833656z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M261.77265113032763 570.4106038815469L263.71849404050096 464.70648641536366 182.11852757145712 508.0939582102147z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1441.0188411621107 372.947693775475L1386.99753900071 279.17377937572917 1338.2736855184799 360.2638890272575z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1108.3252764140084 238.3833454429874L1080.5325342028236 95.40208188560905 937.5512706454451 123.19482409679388 965.34401285663 266.17608765417225z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1233.76997031118 377.50012573182784L1223.136976974342 276.33395188583074 1121.9708031283449 286.9669452226688 1132.603796465183 388.13311906866585z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M492.3630494767931 172.96439677135123L385.0057584570869 240.04867763357606 452.0900393193118 347.40596865328223 559.447330339018 280.3216877910574z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M857.4429874758714 369.3936114610137L821.0007042718805 505.3980639221214 993.4474399369792 405.8358946650045z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M451.3766821325587 18.159304413439237L538.1755392315126 114.74415161162105 575.1323699258504 7.413721904701646z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M93.23868570603726 126.78547842444708L124.1568457729754 31.629166186682312-34.036702617140804 32.83008220515748z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M361.95041409900836 580.6580845513142L470.30593666059553 580.6580845513142 470.30593666059553 472.30256198972705 361.95041409900836 472.30256198972705z' fill='rgba(65%2c 30%2c 155%2c 0.42)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1036'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  padding: 30px 0px;
  overflow: hidden;
}

.anout-us ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.anout-us ul li i {
  background: #ffe000;
  color: #212529;
  padding: 8px;
  font-weight: 600;
}

.departments ul li a {
  color: #ffe000;
  text-decoration: none;
}

.departments ul {
  margin: 35px 0px;
}
.links ul {
  margin: 35px 0px;
}

.links ul li {
  list-style: none;
  margin: 10px -30px;
}

.links {
}

.links ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.links ul li a:hover {
  color: #ffe000;
}
.opening-Hours ul li {
  list-style: none;
  margin: 20px -30px;
  border-bottom: 1px solid #ffe000;
}
.opening-Hours ul li:last-child {
  border: none;
}
.opening-Hours ul li span {
  color: #ffe000;
}
