.service-heading {
  text-align: center;
  margin: 60px 0px;
}

.service-heading h2 span {
  color: #6610f2;
  font-weight: 700;
}

.section-heading {
  text-align: center;
  margin: 60px 0px;
}

.section-heading h2 span {
  color: #6610f2;
  font-weight: 700;
}

.section-heading p {
  width: 365px;
  margin: 30px auto;
}
div#service {
  margin-bottom: 60px;
  overflow: hidden;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1394px) and (orientation: portrait) {
  .carousel-item img {
    width: 100%;
    height: 500px;
  }
}
