.service-heading {
  text-align: center;
  margin: 60px 0px;
}

.service-heading h2 span {
  color: #6610f2;
  font-weight: 700;
}

.section-heading {
  text-align: center;
  margin: 60px 0px;
}

.section-heading h2 span {
  color: #6610f2;
  font-weight: 700;
}

.section-heading p {
  width: 365px;
  margin: 30px auto;
}
div#service {
  margin-bottom: 60px;
  overflow: hidden;
}
