form.booking-form input {
  width: 100%;
  margin: 5px 0px;
  border: none;
  font-weight: 500;
  padding: 10px;
}

form.booking-form {
  background: #6610f2;
  padding: 20px;
}
form.booking-form input:last-child {
  background-color: #ffe000;
}
