.about-us-detail ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0px;
}

.about-us-detail ul li i {
  background: #6610f2;
  color: #fff;
  padding: 20px;
  margin-right: 10px;
}

button.moreInfo-btn {
  background: #ffe000;
  border: none;
  padding: 15px 20px;
  font-weight: 600;
  font-size: 18px;
  margin: 20px 0px;
  transition: 0.3s;
}
button.moreInfo-btn:hover {
  background: #6610f2;
  color: #ffe000;
}
.about-us-detail {
  padding: 10px;
}
