.banner {
  display: block;
  box-sizing: border-box;
  background-color: #6610f2;
  -webkit-clip-path: ellipse(85% 100% at 50% 0%);
  clip-path: ellipse(85% 100% at 50% 0%);
  color: #fff;
}

.carousel-item img {
  height: 100%;
}
.carousel-indicators {
  display: none;
}
.banner-content button {
  background: #ffe211;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}
.banner-content h4 span {
  color: #ffe211;
  font-size: 40px;
}
