.dashboard-title h1 {
  background: #ffe000;
  text-align: center;
  padding: 30px;
  color: #333333;
  margin-bottom: 35px;
  font-weight: 600;
}
.dashboard-container {
  font-family: "Fira Code", monospace;
}
.dashboard-link {
  background-color: #6610f2;
  padding: 30px 0px;
  margin: 20px 0px;
}
.dashboard-link-main a {
  color: #fff;
  text-decoration: none;
}
.dashboard-link ul li {
  list-style: none;
  margin: 30px 0px;
}
.dashboard-link ul button {
  background: #ffe000;
  border: none;
  width: 130px;
  font-weight: 600;
  padding: 10px;
}
